body{
    background: grey;
}

h1, h2, h3, h4, p{
    font-family: "Varela";
    font-weight: lighter;
    font-size: 28px;
    color: white;
}

.varela-regular {
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
}





.content-box{


    border-radius: 25px;
    /*background: linear-gradient(135deg, #EA8D8D, #A890FE);*/
    background: linear-gradient(135deg, #C33764, #1D2671);

    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 950px;
    height: 450px;
    margin: auto;


}

.box-contents{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.date-time-left{
    margin: auto;
    display: flex;
    flex-direction: column;
}


.weather-right{
    margin: auto;
    display: flex;
    flex-direction: row;
    /*padding-left: 50px;*/
}

.weather-icon{
    padding-top: 25px;
}

#clothing-specify{
    padding: 10px;
    text-align: center;
}